extends ../template

block variables
    - var title = 'banner'    

block content
    .scene
        .scene-description
            .scene-description-top
                .scene-description-top-subheading
                    span Новая коллекция в продаже
                .scene-description-top-heading
                    span MODERN AW 19/20
            .scene-description-bottom
                a(href="") СМОТРЕТЬ
                span Узнай о новой коллекции первым    
        .parallax.background-img(data-offset="90")
        .parallax.front(data-offset="30") 

    .slider
        .slider-item
            img(src="assets/images/slider-item-1.png", alt="")
        .slider-item
            img(src="assets/images/slider-item-2.png", alt="")
        .slider-item
            img(src="assets/images/slider-item-3.png", alt="")
        .slider-item
            img(src="assets/images/slider-item-1.png", alt="")
    
