@import "vendor/normalize.scss";

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto_Regular.ttf);
}
  body {
    font-family: Roboto;
  }
  .scene {
    width: 100%;        
    height: 640px;    
  }  
  .scene-description {
    position: absolute;
    top: 150px;
    left: 150px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
  }
  .scene-description-top-subheading {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
  .scene-description-top-heading {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
  }
  .scene-description-bottom {
    display: flex;
    align-items: center;
  }
  .scene-description-bottom a {
    width: 197px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323; 
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
  }
  .scene-description-bottom span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }

  .scene > div.front {
    width: 525px;
    position: absolute;
    right: 181px;
    height: 505px;
    top: 67px;
    z-index: 3;
    background: url("../images/front.png") center no-repeat;
  }
  .scene div.background-img {
    position: absolute;
    width: 100%;
    height: 640px;
    z-index: 0;    
    background: url("../images/background.png") no-repeat center;
  }  