@import "vendor/normalize.scss";

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto_Regular.ttf);
}
  body {
    font-family: Roboto;
  }
  .scene {
    width: 100%;        
    height: 44.44vw;    
  }  
  .scene-description {
    position: absolute;
    top: 10.42vw;
    left: 10.42vw;
    height: 18.05vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
  }
  .scene-description-top-subheading {
    margin-bottom: 1.39vw;
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.46vw;
  }
  .scene-description-top-heading {
    font-size: 3.33vw;
    line-height: 3.89vw;
    text-transform: uppercase;
  }
  .scene-description-bottom {
    display: flex;
    align-items: center;
  }
  .scene-description-bottom a {
    width: 13.68vw;
    height: 2.78vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323; 
    font-weight: 300;
    font-size: 0.83vw;
    line-height: 0.97vw;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 1.39vw;
  }
  .scene-description-bottom span {
    font-style: normal;
    font-weight: 300;
    font-size: 0.97vw;
    line-height: 1.11vw;
    color: rgba(0, 0, 0, 0.5);
  }

  .scene > div.front {
    width: 36.46vw;
    position: absolute;
    right: 12.57vw;
    height: 35.07vw;
    top: 4.65vw;
    z-index: 3;
    background: url("../images/front.png") center no-repeat;
    background-size: cover; 
  }
  .scene div.background-img {
    position: absolute;
    width: 100%;
    height: 44.44vw;
    z-index: 0;    
    background: url("../images/background.png") no-repeat center;
    background-size: cover; 
  }  